<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Home::</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" >
  </head>
<body>
    <div class="container">
    <!-- navbar -->
		<h1>
			Home
		</h1>
		<div>
			<a th:href="@{/libros}" class="btn btn-secondary">Libros</a>
			<a th:href="@{/autores}" class="btn btn-secondary">Autores</a>
			
		</div>
		
	</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>